<header class="header_wrap fixed-top header_with_topbar active">
    <div class="top-header" style="">
        <div class="container">
            <div class="row align-item-center">
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                        <ul class="contact_detail text-center text-lg-start">
                            <li><i class="ti-mobile"></i><span>+33 {{ app.session.get("setting").phone }}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center text-md-end">
                        <ul class="header_list">
                            <li><a href="/compare">
                            <i class="ti-control-shuffle"></i><span>Comparer</span>
                            </a></li>

                            <li><a href="/wishlist">
                            <i class="ti-heart"></i><span>Liste de souhaits</span>
                            </a></li>

                            {% if app.user %}
                                <li><a href="/account">
                                    <i class="ti-user"></i><span>Mon compte</span>
                                    </a>
                                </li>
								<li><a href="/logout">
                                    <i class="ti-user"></i><span>Déconnexion</span>
                                    </a>
                                </li>		
							{% else %}
                                <li><a href="/login">
                                    <i class="ti-user"></i><span>Connexion</span>
                                    </a></li>

                                <li><a href="/register">
                                    <i class="ti-user"></i><span>S'enregistrer</span>
                                    </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_header dark_skin main_menu_uppercase">
        <div class="container">
            <div class="navbar navbar-expand-lg"> 
                <button type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" 
                        aria-expanded="false"
                        class="navbar-toggler collapsed">
                        <span class="ion-android-menu"></span>
                </button>
                <a href="/"><h2 class="text-uppercase">{{ app.session.get("setting").websiteName }}</h2></a>
                <div id="navbarSupportedContent" class="navbar-collapse justify-content-end collapse" style="">
                    <ul class="navbar-nav">
                        <li class="dropdown"><a routerlink="/" 
                            class="nav-link" 
                            ng-reflect-router-link="/" 
                            href="/">Accueil</a></li>

                        <li class="dropdown"><a href="#"
                            data-bs-toggle="dropdown" 
                            class="dropdown-toggle nav-link"
                            aria-expanded="false">Pages</a>

                            <div class="dropdown-menu">
                                <ul>
                                    {% for page in app.session.get("headerPages") %}
                                        <li ><a class="dropdown-item nav-link nav_item"
                                                href="/page/{{ page.slug }}">{{ page.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown dropdown-mega-menu">
                            <a  href="#" data-bs-toggle="dropdown" 
                                class="dropdown-toggle nav-link" 
                                aria-expanded="false">Produits
                            </a>
                            <div class="dropdown-menu">
                                <ul class="mega-menu d-lg-flex">
                                    {% for category in app.session.get('categories') %}
                                        <li class="mega-menu-col col-lg-3">
                                            <ul>
                                                <li class="dropdown-header">{{ category.name }}</li>
                                                {% for product in category.products %}
                                                    {% if loop.index < 4 %}
                                                        <li >
                                                            <a class="dropdown-item nav-link nav_item"
                                                                href="/product/{{ product.slug }}">
                                                                <img src="/assets/images/produits/{{ product.imageUrls[0] }}"
                                                                    width="50" height="50" alt="">
                                                                {{ product.name }}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="d-lg-flex menu_banners row g-3 px-3">
                                    {% for collection in app.session.get('megaCollections') %}
                                    <div class="col-sm-4">
                                        <div class="header-banner"><img
                                                alt="menu_banner1"
                                                src="/assets/images/collections/{{ collection.imageUrl }}">
                                            <div class="banne_info mt-4">
                                                <h6>{{ collection.description }}</h6>
                                                <h4>{{ collection.title }}</h4>
                                                <a href="{{ collection.buttonLink }}">{{ collection.buttonText }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        <li class="dropdown dropdown-mega-menu"><a
                                routerlink="/shop-list" 
                                class="nav-link"
                                ng-reflect-router-link="/shop-list" 
                                href="/shop-list">Magasin</a></li>
                        <li ><a routerlink="/contact"
                                class="nav-link nav_item" 
                                ng-reflect-router-link="/contact" 
                                href="/page/contactez-nous">Nous contacter</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav attr-nav align-items-center">
                    <li><a href="javascript:void(0);"
                        class="nav-link search_trigger"><i 
                        class="linearicons-magnifier"></i></a>

                        <div class="search_wrap"><span 
                                class="close-search"><i 
                                    class="ion-ios-close-empty"></i></span>
                            <form novalidate="" 
                                class="ng-untouched ng-pristine ng-valid">
                                <input type="text" placeholder="Search" id="search_input"
                                    class="form-control">
                                    <button  type="submit"
                                            class="search_icon"><i 
                                            class="ion-ios-search-strong"></i>
                                    </button>
                            </form>
                        </div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                        <div class="search_overlay"></div>
                    </li>
                    <li class="dropdown cart_dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="nav-link cart_trigger">
                            <i class="linearicons-cart"></i>
                            <span class="cart_count"></span>
                        </a>
                        <div class="cart_box dropdown-menu dropdown-menu-right">
                            <ul class="cart_list">
                                
                            </ul>
                            <div class="cart_footer">
                                <p class="cart_total">
                                    <strong>Total du panier:</strong>
                                    <span class="cart_price">
                                        <span class="price_symbole"></span>
                                    </span>
                                    <span class="cart_price_value">
                                        
                                    </span>
                                </p>
                                <p class="cart_buttons">
                                    <a routerlink="/cart" class="btn btn-fill-line view-cart"
                                        ng-reflect-router-link="/cart" href="/cart">Voir Panier</a>
                                        <a routerlink="/checkout"
                                            class="btn btn-fill-out checkout" ng-reflect-router-link="/checkout"
                                            href="/checkout">Commander
                                        </a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

